
    body {
      margin: 0;
      padding: 0;
      background: linear-gradient(30deg, #000000, #635e01);
      background-size: 200% 200%; 
      animation: gradient 20s ease infinite; 
      font-family: 'Product Sans', sans-serif; /* Texto del cuerpo con Product Sans */
      color: #fbff00;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      overscroll-behavior: none;
    }
/* Definir la animación */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

    header {
      text-align: center;
      margin-bottom: 0;
    }

    header img {
      margin-top: 10px;
      margin-bottom: 0;  
      width: 400px; 
    }

    section {
      padding: 1rem;
      text-align: center;
    }

    #biography {
      max-width: 800px;  
      margin: auto; 
    }

    #biography p {
      text-align: justify;
      margin: auto;
      margin-bottom: 20px;
      max-width: 100%; 
    }
    #biography h2 {
      margin-top: -75px; 
      padding-top: 0;
    }
    img {
      border-radius: 50%;
      transition: all 0.3s ease;
    }
    #biography img {
      margin-bottom:10px; 
    }

    img:hover {
      transform: scale(1.1);
    }

    a {
      color: #fbff00;
      text-decoration: none;
      padding: 0.5rem;
      transition: all 0.3s ease;
    }

    a:hover {
      background: #696b03;
      color: rgb(255, 255, 255);
      border: 2px solid #9b9e05;
    }

    #streaming-links {
      max-width: 400px; 
      margin: auto; 
      text-align: center;  
    }

    #streaming-links a {
      display: inline-block;
      margin: 0.5rem;
      padding: 1rem;
      border: 2px solid #fbff00;
      border-radius: 10px;
    }


#relief-image {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  background-image: url('photo.png');
  background-size: cover;
  box-shadow: 3px 3px 5px #000, -3px -3px 5px #fff;
  border: 2px solid transparent;
  background-clip: padding-box, border-box;
  border-image: linear-gradient(to bottom, red, yellow);
  border-image-slice: 1;
}

#artist-playlist {
      text-align: center;
      max-width: 800px;
      margin: auto;
    }

    #artist-playlist iframe {
      max-width: 100%;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    #posts {
      max-width: 800px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .post-card {
      width: 240px;
      padding: 1rem;
      border: 2px solid #fbff00;
      border-radius: 12px;
      margin: 1rem;
      text-align: center;
    }

  .post-card img {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }

  .menu-icon .bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 3px auto;
  background-color: #fbff00;
}

.menu-icon {
  position: fixed;
  top: 15px;
  right: 20px;
  cursor: pointer;
  z-index: 1;
}

.hidden {
  display: none;
}

#menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  background: linear-gradient(45deg, #04051dea 0%, #585900 100%);
  overflow-y: auto;
  padding-top: 50px;
  transition: all 0.3s ease-in-out;
}

#menu a {
  display: block;
  padding: 15px;
  text-align: center;
  color: #fbff00;
}

#menu a:hover {
  background-color: #fbff00;  /* fondo amarillo */
  color: #000;  /* texto negro */
}

#menu.show {
  right: 0;
}


button:hover {
  cursor: pointer;
  transition: all .3s ease-in;
  padding-right: 30px;
  padding-left: 30px;
}

.email-link {
  text-decoration: underline;
}

#contact a {
  text-decoration: underline;
}

#biography {
    max-width: 800px;  
    margin: auto; 
  }
  
  #biography p {
    text-align: justify;
    margin: auto;
    margin-bottom: 20px;
    max-width: 100%; 
  }
  
  #biography h2 {
    margin-top: -75px; 
    padding-top: 0;
  }
  
  #biography img {
    border-radius: 50%; /* Hace que la imagen sea redonda */
    margin-bottom: 10px; 
    transition: all 0.3s ease; /* Efecto suave de transición para transformaciones */
  }
  
  img:hover {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen al pasar el cursor */
  }
 
/* CSS Styles for Mobile Devices */
@media only screen and (max-width: 600px) {
  /* Center-align the text at the end of the document */
  body > div:last-child,
  #contact p {
    text-align: center;
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centers cards horizontally */
  align-items: flex-start; /* Aligns cards to the top */
  gap: 20px; /* Adds space between the cards */
  padding: 20px; /* Adds padding around the entire container */
  margin: 0 auto; /* Additional centering for the container */
}

#Services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
}

.card {
  width: 260px;
  padding: 20px 1px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 10px 15px -3px #fbff00, 0 4px 6px -4px rgba(33,150,243,.4);
  border-radius: 10px;
  background-color: #fbff00;
  background: linear-gradient(45deg, #04051dea 0%, #585900 100%);
}


.content {
  padding: 20px;
}

.content .price {
  color: white;
  font-weight: 800;
  font-size: 50px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
}

.content .description {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 10px;
  font-size: 14px;
}

.content .title {
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.64);
  margin-top: 10px;
  font-size: 25px;
  letter-spacing: 1px;
}

button {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: 700;
  font-size: .75rem;
  padding: 0.75rem 1.5rem;
  background-color: #fbff00;
  border-radius: 0.5rem;
  width: 90%;
  text-shadow: 0px 4px 18px #676900;
}

.pre-save-link {
  display: inline-block;
  margin: 0.5rem;
  padding: 1rem;
  border: 2px solid #fbff00;
  border-radius: 10px;
  background: linear-gradient(45deg, #04051dea 0%, #585900 100%);
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}

.pre-save-link:hover {
  background: #585900;
  color: rgb(255, 255, 255);
}

.golden-button {
  touch-action: manipulation;
  display: inline-block;
  outline: none;
  font-family: inherit;
  font-size: 1em;
  box-sizing: border-box;
  border: none;
  border-radius: 0.3em;
  height: 2.75em;
  line-height: 2.5em;
  text-transform: uppercase;
  padding: 0 1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
    inset 0 -2px 5px 1px rgba(139, 66, 8, 1),
    inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
  background-image: linear-gradient(
    160deg,
    #a54e07,
    #b47e11,
    #fef1a2,
    #bc881b,
    #a54e07
  );
  border: 1px solid #a55d07;
  color: rgb(120, 50, 5);
  text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-size: 100% 100%;
  background-position: center;
}

.golden-button:focus,
.golden-button:hover {
  background-size: 150% 150%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
    inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
  border: 1px solid rgba(165, 93, 7, 0.6);
  color: rgba(120, 50, 5, 0.8);
}

.golden-button:active {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
    inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
}
