body {
    margin: 20px; /* Ajustar márgenes */
    padding: 0;
    background: linear-gradient(30deg, #000000, #635e01);
    background-size: 200% 200%;
    animation: gradient 20s ease infinite;
    font-family: 'Product Sans', sans-serif; 
    color: #fbff00;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overscroll-behavior: none;
}


header {
    text-align: center;
    margin-bottom: 0;
  }

  header img {
    margin-top: 10px;
    margin-bottom: 0;  
    width: 400px; 
  }

.body-description {
    font-size: 1rem;
    line-height: 1.4;
    text-align: justify;
    margin: 0 10%; /* Ajustar márgenes */
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.fullscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    flex-grow: 1;
}

.img-container {
    width: 90%;
    max-width: 550px;
    aspect-ratio: 1;
    margin: 20px 0;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img {
    width: auto;
    height: 100%;
    box-sizing: border-box;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(45deg, #fbff00 0%, #585900 100%);
    border-image-slice: 1;
    box-shadow: 0 40px 15px -3px #fbff00, 0 4px 6px -4px rgba(33,150,243,.4); /* Aplica el efecto de sombra de caja */
}

.description {
    font-size: 1rem;
    line-height: 1.4;
    text-align: justify;
    margin: 0 10%; /* Ajustar márgenes */
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.buttons {
    display: flex;
    flex-direction: row; /* Change flex-direction to row */
    justify-content: center; /* Center the buttons horizontally */
    align-items: center;
    margin-top: 1em;
    width: 100%;
}

button {
    display: inline-block;
    margin: 0.5rem;
    padding: 1rem;
    border: 2px solid #fbff00;
    border-radius: 10px;
    background: linear-gradient(45deg, #04051dea 0%, #585900 100%);
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

button:hover {
    background: #585900;
    color: rgb(255, 255, 255);
}

.back-to-homepage {
    display: inline-block;
    margin: 0.5rem;
    padding: 1rem;
    border: 2px solid #fbff00;
    border-radius: 10px;
    color: #fbff00;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.back-to-homepage:hover {
    background: #585900;
    color: rgb(255, 255, 255);
}



/* CSS Styles for Mobile Devices */
@media only screen and (max-width: 600px) {
    /* Center-align the text at the end of the document */
    body > div:last-child,
    #contact p {
        text-align: center;
    }
}

#open-road-info {
    max-width: 800px;
    margin: auto;
    text-align: justify;
}
#open-road-info h2 {
    margin-top: 20px; /* Ajustar el margen superior según sea necesario */
    padding-top: 0;
    text-align: center; /* Centrar el texto del encabezado */
}


